<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<!--<suite name="SuiteName">-->
<!--    <test name="TestName">-->
<!--        <packages>-->
<!--            <package name="com.fido.apiautomation.tests"/> &lt;!&ndash; Replace with your package &ndash;&gt;-->
<!--        </packages>-->
<!--    </test>-->
<!--</suite>-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Automation Suite">
    <test name="API Tests">
        <classes>
            <class name="com.fido.apiautomation.tests.AuthControllerTest"/>
            <class name="com.fido.apiautomation.tests.VideoGamesControllerTest"/>
        </classes>
    </test>
</suite>
